<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="map contents for Korean elementary social subject">
    <meta name="author" content="Dogun">
    <link rel="icon" type = "image/png" href = "imgs\map.png">
    <title>초등사회지도학습</title>
    <script src="https://kit.fontawesome.com/02390708a3.js" crossorigin="anonymous"></script>
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    </style>
    <link rel="stylesheet" href="style.css">
    <script src="activity.js" defer></script>    
</head>
<body>
<!-- Navbar -->
<section id='navbar__main'>
    <div class='header__logo'>
        <a href="../">mapmap</a>
    </div>
    <div class="navbar__menu">
        <ul class="nav__links nav__links--left">
        </ul>
        <ul class="nav__links nav__links--right">
            <li class="nav__links--item"><span class="nav__text">행정구역</span>
                <div class="line"></div>
                <ul class="dropdown_menu">   
                    <li class="detail_menu top"><a href="#">SUB_MENU</a></li>
                    <li class="detail_menu"><a href="#">SUB_MENU</a></li>
                    <li class="detail_menu"><a href="#">SUB_MENU</a></li>
                </ul>    
            </li>
            <li class="nav__links--item"><span class="nav__text">자연환경</span>
                <div class="line"></div>
                <ul class="dropdown_menu">
                    <li class="detail_menu top"><a href="#">SUB_MENU</a></li>
                    <li class="detail_menu"><a href="#">SUB_MENU</a></li>
                    <li class="detail_menu"><a href="#">SUB_MENU</a></li>
                </ul>   
            </li>
            <li class="nav__links--item"><span class="nav__text">인구분포</span>
                <div class="line"></div>
                <ul class="dropdown_menu">
                    <li class="detail_menu top"><a href="#">SUB_MENU</a></li>
                    <li class="detail_menu"><a href="#">SUB_MENU</a></li>
                    <li class="detail_menu"><a href="#">SUB_MENU</a></li>
                </ul>   
            </li>
            <li class="nav__links--item"><span class="nav__text">미니게임</span> 
            </li>
        </ul>
    </div>
</section>
</body>
</html>