<!DOCTYPE html>
<html lang="ko" id='home__html'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="map contents for Korean elementary social subject">
    <meta name="author" content="Dogun">
    <link rel="icon" type = "image/png" href = "imgs\map.png">
    <title>초등사회지도학습</title>
    <script src="https://kit.fontawesome.com/02390708a3.js" crossorigin="anonymous"></script>
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    </style>
    <link rel="stylesheet" href="style.css">
    <script src="home.js" defer></script>
</head>
<body id='home__body'>
    <section id='navbar__home'>
        <div class='header__logo'>
            <a href="../">mapmap</a>
        </div>
        <div class="navbar__menu">
            <ul class="nav__links nav__links--left">
            </ul>
            <ul class="nav__links nav__links--right">
            </ul>
        </div>
    </section>
    
    <section id="menu__list">
        <div class="home__menu__container">
            <div class="home__menu">
                <!-- <div class="home__menu__line">
                    <div class="home__menu__line__color"></div>
                </div> -->
                <div class="home__theme">1. 지리영역</div>
                <div class="home__sub__theme__container">
                    <div class="home__sub__theme"><a href="activity">가본 곳</a></div>
                    <div class="home__sub__theme"><a href="#">영역</a></div>
                    <div class="home__sub__theme"><a href="#">지역구분</a></div>
                </div>
            </div>
            <div class="home__menu">
                <!-- <div class="home__menu__line">
                    <div class="home__menu__line__color"></div>
                </div> -->
                <div class="home__theme">2. 자연환경</div>
                <div class="home__sub__theme__container">
                    <div class="home__sub__theme"><a href="#">강,산맥</a></div>
                    <div class="home__sub__theme"><a href="#">해안선</a></div>
                    <div class="home__sub__theme"><a href="#">기온</a></div>
                    <div class="home__sub__theme"><a href="#">강수량</a></div>
                </div>
            </div>
            <div class="home__menu">
                <!-- <div class="home__menu__line">
                    <div class="home__menu__line__color"></div>
                </div> -->
                <div class="home__theme">3. 인문환경</div>
                <div class="home__sub__theme__container">
                    <div class="home__sub__theme"><a href="#">인구분포</a></div>
                    <div class="home__sub__theme"><a href="#">산업발달</a></div>
                    <div class="home__sub__theme"><a href="#">교통도</a></div>
                </div>
            </div>
        </div>
        <div class="map__img">
            <img class="night" src="imgs/night.png" alt="" width="200px" />
            <img class="popu" src="imgs/popu.png" alt="" width="200px" />
            <img class="traff" src="imgs/traff.png" alt="" width="200px" />
            <img class="divi" src="imgs/divi.png" alt="" width="200px" />  
        </div>
    </section>
</body>
</html>